<div class="doctype-list">
  <dl class="vertical tabs">
    <dd class="web">
      <a href="/search/web/{{searchContextId}}/{{stageId}}/{{query}}" class="active">
        Web
      </a>
    </dd>
    <dd class="news">
      <a href="/search/news/{{searchContextId}}/{{stageId}}/{{query}}">
        News
      </a>
    </dd>
    <dd class="books">
      <a href="/search/books/{{searchContextId}}/{{stageId}}/{{query}}">
        Books
      </a>
    </dd>
  </dl>
</div>
